
@{
    ViewBag.Title = "Artist Appointment Request";
}

<!-- intro -->
<section id="home" class="intro image-background">
    <div class="overlay"></div>
    <div class="content">
        <div class="container-fluid clearfix">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <h1><span class="bold">@ViewBag.FirstName</span><br /><span class="bold">@ViewBag.LastName</span></h1>
                    <p class="roboto">@ViewBag.Header</p>
                </div>
            </div>
        </div>
    </div><a href="#apptRequest" class="icon faa-float animated scroll-to"><i class="fa fa-angle-double-down"></i></a>
</section>
<!-- intro -->
<!-- contact -->
<section id="apptRequest">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12">
                <h2 class="heading">Appointment Request</h2>
                <div class="row">
                    <div class="col-md-6">
                        <form id="contact-form" method="post" action="contact.php" class="contact-form form">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">First Name *</label>
                                            <input type="text" name="name" id="name" placeholder="Enter your first name" required="required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="surname">Last Name *</label>
                                            <input type="text" name="surname" id="surname" placeholder="Enter your last name" required="required" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">Email *</label>
                                            <input type="email" name="email" id="email" placeholder="Enter your email address" required="required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="telephone">Telephone *</label>
                                            <input type="tel" name="telephone" id="telephone" placeholder="Enter your mobile number" required="required" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="message">Your message for us *</label>
                                            <textarea rows="4" name="message" id="message" placeholder="Enter your message" required="required" class="form-control"></textarea>
                                        </div>
                                        <div class="text-center">
                                            <input type="submit" value="Send message" class="btn btn-primary btn-block">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <p>Effects present letters inquiry no an removed or friends. Desire behind latter me though in. Supposing shameless am he engrossed up additions. My possible peculiar together to. Desire so better am cannot he up before points. Remember mistaken opinions it pleasure of debating. Court front maids forty if aware their at. Chicken use are pressed removed. </p>
                        <p>Able an hope of body. Any nay shyness article matters own removal nothing his forming. Gay own additions education satisfied the perpetual. If he cause manor happy. Without farther she exposed saw man led. Along on happy could cease green oh. </p>
                        <p class="social"><a href="#" title="" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" title="" class="twitter"><i class="fa fa-twitter"></i></a><a href="#" title="" class="gplus"><i class="fa fa-google-plus"></i></a><a href="#" title="" class="instagram"><i class="fa fa-instagram"></i></a><a href="#" title="" class="email"><i class="fa fa-envelope"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact -->
<!-- portfolio -->
<section id="instagram" class="no-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="heading">LATEST FROM INSTAGRAM</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-space">
            @foreach (var media in ViewBag.Media)
            {
                <div class="col-sm-4 col-md-3">
                    <div class="box"><a href="#" title=""><img src=@media alt="" class="img-responsive"></a></div>
                </div>
            }
        </div>
    </div>
</section>
<!-- portfolio -->
<!-- map -->
<section id="location">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="heading">@ViewBag.LocationTitle</h2>
            </div>
        </div>
    </div>
    <section id="map"></section>
</section>
<!-- map -->
